[user]
	name = Eddie Zaneski
	email = eddiezane@gmail.com
  ;signingkey = override with gitconfig_local
[core]
	excludesfile = ~/.gitignore_global
[push]
	default = simple
[github]
	user = eddiezane
[alias]
  changelog = log --abbrev-commit --pretty=format:'- %h - %s - %aN'
[url "git@github.com:"]
	insteadOf = https://github.com/
[pull]
	ff = only
[include]
  path = ~/.gitconfig_local
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[gpg "x509"]
	program = gitsign
[gpg]
	format = x509
