[user]
	name = Eddie Zaneski
	email = eddiezane@gmail.com
  ;signingkey = override with gitconfig_local
[core]
	excludesfile = ~/.gitignore_global
[push]
	default = simple
[commit]
	gpgsign = true
[github]
	user = eddiezane
[alias]
  changelog = log --abbrev-commit --pretty=format:'- %h - %s - %aN'
[url "git@github.com:"]
	insteadOf = https://github.com/
[pull]
	ff = only
[include]
  path = $HOME/.gitconfig_local
