snippet rcc
var $1 = React.createClass({
	render: function() {
		return $2
	}
});
endsnippet

snippet rclass
class $1 extends React.Component {
  constructor(props) {
    super(props);$2
  }

  render() {
    return $3
  }
}
endsnippet

snippet rr
React.render(<$1/>, document.getElementById('$2'));
endsnippet
