{{ if eq .chezmoi.os "linux" -}}
command = /usr/bin/zsh -l
window-decoration = false
{{- end }}

font-family = "SauceCodePro Nerd Font Mono"
font-family = "Noto Color Emoji"
font-size = 15

window-padding-y = 0

# keybind = ctrl+a>shift+5=new_split:right
# keybind = ctrl+a>shift+'=new_split:down
# keybind = ctrl+a>c=new_tab
# keybind = ctrl+a>n=next_tab
# keybind = ctrl+a>p=previous_tab
# keybind = ctrl+a>l=last_tab
# keybind = ctrl+a>1=goto_tab:1
# keybind = ctrl+a>2=goto_tab:2
# keybind = ctrl+a>3=goto_tab:3

# keybind = ctrl+a>k=goto_split:next
# keybind = ctrl+a>k=goto_split:up
# keybind = ctrl+a>j=goto_split:down
# keybind = ctrl+a>h=goto_split:left
# keybind = ctrl+a>l=goto_split:right

# keybind = resize/k=resize_split:up,10
# keybind = resize/shift+k=resize_split:up,50
# keybind = resize/j=resize_split:down,10
# keybind = resize/shift+j=resize_split:down,50
# keybind = resize/h=resize_split:left,10
# keybind = resize/shift+h=resize_split:left,50
# keybind = resize/l=resize_split:right,10
# keybind = resize/shift+l=resize_split:right,50
# keybind = resize/escape=deactivate_key_table
# keybind = resize/q=deactivate_key_table
# keybind = resize/catch_all=ignore
# keybind = ctrl+a>r=activate_key_table:resize

theme = catppuccin-macchiato.conf

# gtk-custom-css = ~/.config/ghostty/tabs.css
# window-theme = ghostty
# gtk-tabs-location = bottom
